*{
    margin: 0px;
    padding: 0px;
}

#Logo{
    width: auto;
    position: relative;
    top: 10px;
    height: 100px;
}

.d-block{
    height: 240px;
}

.carousel{
    position: relative;
    bottom: 10px;
}

.menu{
    position: relative;
    bottom: 50px;
}

.huno{
    height: 80px;
    line-height: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    text-align: center;
    background-color: #212121;
    color: #fff;
}

.hdos{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11px;
    text-align: center;
}

#parteTres{
    background-color: #212121;
}

.rmpopu{
    height: 50px;
    line-height: 55px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    text-align: center;
    color: #fff;
}

.receta{
    background-color: #fff;
    border: 2px solid #212121;
    border-radius: 10px;
}

.recetasplatos{
    width: 99.5%;
    margin-left: 1px;
}

.titrece{
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 10px;
}

.platos{
    height: 150px;
    padding: 10px;
    margin-left: 40px;
    text-align: center;
}


.ingrepre{
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.foto{
    text-align: center;
}

.listas{
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
}

.apartadoplatos{
    background-color: #212121;
}

.imagen1{
    width: 100%;
    margin: 1px;
    margin-bottom: 5px;
}

.imagen2{
    width: 100%;
    margin: 1px;
    margin-top: 5px;
}

.sobremi p{
    background-color: #212121;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nosotros{
    text-align: justify;
    border: 2px solid #fff;
    border-radius: 10px;
    margin-bottom: 1px;
    position: relative;
    bottom: 6px;
    padding: 15px;
}

.t2{
    margin-top: 13px;
}

.suges{
    text-align: center;
    font-size: 17px;
    background-color: #fff;
    height: 70px;
    line-height: 70px;
    letter-spacing: 1px;
}

.form{
    border: 2px solid #212121;
    margin: 10px;
}

.mb-3{
    width: 95%;
    margin-left: 7px;
}

.form-control{
    border: 2px solid #212121;
}

.wsps{
    text-align: center;
}

#wsp{
    width: 65px;
    position: relative;
    bottom: 5px;
    right: 5px;
}

.msj{
    font-size: 20px;
    display: inline-block;
}

.msjf{
    background-color: #fff;
    color: black;
}

.mapa{
    width: 90%;
    position: relative;
    left: 16px;
    height: 250px;
}

.footer {
    position: absolute;
    width: 100%;
    background-color: #ffffff;
    color: #3d3d3d;
    text-align: center;
}

footer p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 8px;
    margin: 0;
    padding: 2px;
    position: relative;
    top: 5px;
}

#redes{
    text-align: left;
    position: relative;
    top: 10px;
    font-size: 10px;
}

.bn{
    text-align: right;
    font-size: 10px;
    position: relative;
    bottom: 27px;
}

#instagram{
    position: relative;
    right: 117px;
    height: 15px;
}

#facebook{
    position: relative;
    right: 111px;
    height: 15px;
}

#twitter{
    position: relative;
    right: 108px;
    height: 21px;
}

@media only screen and (min-width:375px) {
    #instagram, #facebook, #twitter{
        right: 139px;
        padding: 0px 5px;
    }
    .suges{
        font-size: 19px;
    }
    .huno{
        padding: 30px;
        line-height: 20px;
    }
    .mb-3{
        width: 95%;
    }
    .mapa{
        left: 19px;
    }
}

@media only screen and (min-width:425px) {
    #instagram, #facebook, #twitter{
        right: 165px;
        padding: 0px 5px;
    }
    .suges{
        font-size: 21px;
    }
    .mb-3{
        width: 96%;
    }
    .mapa{
        left: 22px;
    }
}


@media only screen and (min-width: 768px) {
    .d-block{height: 475px;}
    .listas {
        font-size: 15px;
    }
    .ingredientes{
        position: relative;
        bottom: 25px;
        right: 1px;
    }
    .platos{
        position: relative;
        right: 20px;
        height: 200px;
    }
    .suges{
        font-size: 23px;
    }
    .hdos{font-size: 22px;}
    .titrece{font-size: 30px;}
    #Logo{height: 100px;}
    .imagen1, .imagen2{
        position: relative;
        top: 150px;
    }
    .mb-3{
        width: 97%;
    }
    .form{
        width: 70%;
        margin-left: 120px;
    }
    .cajita{
        height: 125px;
    }
    .mapa{
        left: 40px;
        height: 350px;
    }
    .footer{height: 100px;}
    footer p{font-size: 12px;}
    #redes{
        font-size: 15px;
        letter-spacing: 1px;
    }
    .bn{
        font-size: 15px;
        bottom: 35px;
    }
    #instagram, #facebook, #twitter{
        height: 20px;
        right: 285px;
        padding: 0px 5px;
    }
    #twitter{
        height: 35px;
        right: 290px;
    }
}

@media only screen and (min-width:1024px) {
    .d-block{height: 585px;}
    .suges{
        font-size: 25px;
    }
    .huno{
        padding:55px;
        line-height: 0px;
        font-size: 30px;
    }
    #Logo{height: 140px;}
    .menu{
        position: relative;
        left: 250px;
        bottom: 70px;
        width: 470px;
        font-size: 20px;
    }
    .hdos{font-size: 30px;}
    .rmpopu{
        font-size: 30px;
        height: 85px;
        line-height: 85px;
    }
    .ingrepre{font-size: 25px;}
    .listas {
        font-size: 20px;
    }
    .platos{
        position: relative;
        right: 20px;
        height: 270px;
    }
    .receta{border: 3px solid #212121;}
    .recetasplatos{width: 99.9%;}
    .imagen1, .imagen2{
        position: relative;
        top: 50px;
    }
    .form{
        margin-left: 150px;
    }
    .cajita{
        height: 200px;
    }
    .mapa{
        left: 50px;
        height: 450px;
    }
    .footer{height: 135px;}
    footer p{font-size: 16px;}
    #redes{
        font-size: 20px;
        letter-spacing: 1px;
    }
    .bn{
        font-size: 20px;
        bottom: 45px;
    }
    #instagram, #facebook, #twitter{
        height: 30px;
        right: 390px;
        padding: 0px 10px;
    }
    #twitter{
        height: 48px;
        right: 395px;
    }
}

@media only screen and (min-width:1440px) {
    .d-block{height: 1000px;}
    .suges{
        font-size: 30px;
    }
    .huno{
        padding:70px;
        line-height: 0px;
        font-size: 45px;
    }
    #Logo{height: 190px;}
    .menu{
        position: relative;
        left: 330px;
        bottom: 110px;
        width: 570px;
        font-size: 30px;
    }
    .hdos{font-size: 40px;}
    .rmpopu{
        font-size: 35px;
        height: 85px;
        line-height: 85px;
    }
    .titrece{font-size: 40px;}
    .listas {
        font-size: 25px;
    }
    .ingrepre{font-size: 30px;}
    .platos{
        position: relative;
        right: 20px;
        height: 350px;
    }
    .receta{border: 4px solid #212121;}
    .sobremi p{
        font-size: 20px;
    }
    .imagen1, .imagen2{
        position: relative;
        top: 13px;
    }
    .form{
        margin-left: 220px;
        margin-top: 20px;
    }
    .cajita{
        height: 250px;
    }
    .mb-3{
        width: 98%;
    }
    .mapa{
        margin-top: 10px;
        left: 80px;
        height: 600px;
    }
    #wsp{
        width: 85px;
    }
    .msj{
        font-size: 25px;
    }
    .footer{height: 160px;}
    footer p{font-size: 22px;}
    #redes{
        font-size: 25px;
        letter-spacing: 1px;
    }
    .bn{
        font-size: 25px;
        bottom: 65px;
    }
    #instagram, #facebook, #twitter{
        height: 40px;
        right: 550px;
        padding: 0px 20px;
    }
    #twitter{
        height: 60px;
        right: 555px;
    }
}

@media only screen and (min-width:1920px) {
    .menu{
        position: relative;
        left: 530px;
        bottom: 110px;
        width: 570px;
        font-size: 30px;
    }
}